---
env:
  global:
    - CC_TEST_REPORTER_ID=18cd0dfc0d434e79dabf7a4e417ac996fbf5c0ec3570cb17999d1272a20480d0
sudo: false
language: ruby
cache: bundler
rvm:
  - 2.6.5
before_install: bash bin/setup
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - 'bundle exec rubocop --fail-fast'
  - 'bundle exec rspec --fail-fast'
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT